{% extends 'base.html' %}

{% block title %}
Cart
{% endblock %}

{% block content %}

    <table class="table-auto min-w-full border-separate">
        <thead>
            <tr >
                <th class='px-4 py-2 text-left text-md font-medium text-gray-800'>Product</th>
                <th class='px-4 py-2 text-left text-md font-medium text-gray-800'>Price</th>
                <th class='px-4 py-2 text-left text-md font-medium text-gray-800'>Quantity</th>
                <th class='px-4 py-2 text-left text-md font-medium text-gray-800'>SubTotal</th>
                {% comment %} {% if request.user.is_authenticated and request.user.role == 'Consumer' %} {% endcomment %}
                {% comment %} {% if allowed %}
                <th></th>
                <th></th>
                {% endif %}
                <th></th> {% endcomment %}
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-100">
            {% for item in items %}
            <tr class='odd:bg-blue-50 even:bg-white hover:bg-gray-50'>
                <td class="px-4 py-2">{{item.product}}</td>
                <td class="px-4 py-2 whitespace-nowrap">{{item.productPrice}}</td>
                <td class="px-4 py-2 whitespace-nowrap">{{item.quantity}}</td>
                <td class="px-4 py-2">{{item.subtotal}}</td>
                {% comment %} {% if request.user.is_authenticated and request.user.role == 'Consumer' %} {% endcomment %}
                {% comment %} {% if p.can_buy %}
                <td>
                    <a href="{% url 'cart:addToCart' p.id %}"
                    class="rounded-lg bg-green-600 px-4 py-2 text-sm font-small text-white hover:bg-green-700" 
                    >Buy</a>
                </td> {% endcomment %}
                {% comment %} {% endif %}
                {% if allowed %}
                {% if p.can_edit %}
                <td>
                    <a href="{% url 'products:updateProduct' p.id %}"
                    class="rounded-lg bg-gray-600 px-4 py-2 text-sm font-small text-white hover:bg-gray-700" 
                    >Update</a>
                </td>
                {% endif %}
                <td>
                    <form method="POST" action="{% url 'products:deleteProduct' p.id %}">
                        {% csrf_token %}
                        <button class="flex items-center justify-center p-2 text-red-600 rounded-full hover:bg-red-100 hover:text-red-800" type="submit" {% if not p.can_delete %}disabled{% endif %}>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.34 6.75m0 0a2.25 2.25 0 0 1 2.244-2.077h4.5a2.25 2.25 0 0 1 2.244 2.077M19.5 4.5h-15" />
                            </svg>
                        </button>
                    </form>
                </td>
                {% endif %} {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% comment %} <h3 class="decoration-emerald-100">Total Amount: {{ total }}</h3> {% endcomment %}


<h3 class="text-lg font-semibold text-black-900">
  Total Amount:
  <span class="text-emerald-600 dark:text-emerald-400 font-bold">
    {{ total }}
  </span>
</h3>

{% comment %} {% if allowed %}
<div class = "mt-8">
    <a href="{% url 'products:createProduct' %}" class="rounded-lg bg-gray-600 px-4 py-2 text-sm font-medium text-white hover:bg-gray-700">Create New Product</a>
</div>
{% endif %} {% endcomment %}
{% comment %} 
{% if request.user.is_authenticated and request.user.role == 'Consumer' %}
<div class = "mt-8">
    <form method='POST' action="{% url 'category:createCategory' %}">
        {% csrf_token %}
        <label for="name">Category Name:</label>
        <input type="text" id="name" name="name" class="border border-gray-300 rounded-md p-1" />
        <button type="submit" class="ml-2 bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700">Create</button>
    </form>
</div>
{% endif %} {% endcomment %}
{% endblock %}